[Desktop Entry]
Encoding=UTF-8
Name=Link to Training (24,781)
Type=Link
URL=https://studio.edgeimpulse.com/studio/549897/acquisition/training
Icon=text-html
